@keyframes navbar-scroll {
     from {
        background-color: transparent;
        height: 108px;
        color: white;
    }

    to {
        background-color: color-mix(in srgb, var(--color-surface-foreground) 90%, transparent);
        height: 100px;
        color: var(--color-text-default);
    }
}

nav>div.desktop{
    animation: navbar-scroll linear both ;
    animation-timeline: scroll(root);
     animation-range: 0px 200px;
}
