:root {
  /* COLORS */
  --black: #040506;
  --white: #FFFFFF;
  --primary: #D62829;
  --primary-900: #800002;
  --primary-800: #9F0010;
  --primary-700: #BC141D;
  --primary-600: #D7302D;
  --primary-500: #F2493F;
  --primary-400: #FF6253;
  --primary-300: #FF7B69;
  --primary-200: #FF9681;
  --primary-100: #FFB19B;
  --primary-50: #FFCCB7;
  --neutral: #2C2C2C;
  --neutral-900: #2C2C2C;
  --neutral-800: #494949;
  --neutral-700: #6E6E6E;
  --neutral-600: #939393;
  --neutral-500: #B7B7B7;
  --neutral-400: #DCDCDC;
  --neutral-300: #E2E2E2;
  --neutral-200: #E8E8E8;
  --neutral-100: #EDEDED;
  --neutral-50: #F3F3F3;
}

.dark :root {
  --white: #040506;
  --black: #FFFFFF;
  --primary: #D62829;
  --primary-50: #800002;
  --primary-100: #9F0010;
  --primary-200: #BC141D;
  --primary-300: #D7302D;
  --primary-400: #F2493F;
  --primary-500: #FF6253;
  --primary-600: #FF7B69;
  --primary-700: #FF9681;
  --primary-800: #FFB19B;
  --primary-900: #FFCCB7;
  --neutral: #2C2C2C;
  --neutral-50: #2C2C2C;
  --neutral-100: #494949;
  --neutral-200: #6E6E6E;
  --neutral-300: #939393;
  --neutral-400: #B7B7B7;
  --neutral-500: #DCDCDC;
  --neutral-600: #E2E2E2;
  --neutral-700: #E8E8E8;
  --neutral-800: #EDEDED;
  --neutral-900: #F3F3F3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --white: #040506;
    --black: #FFFFFF;
    --primary: #D62829;
    --primary-50: #800002;
    --primary-100: #9F0010;
    --primary-200: #BC141D;
    --primary-300: #D7302D;
    --primary-400: #F2493F;
    --primary-500: #FF6253;
    --primary-600: #FF7B69;
    --primary-700: #FF9681;
    --primary-800: #FFB19B;
    --primary-900: #FFCCB7;
    --neutral: #2C2C2C;
    --neutral-50: #2C2C2C;
    --neutral-100: #494949;
    --neutral-200: #6E6E6E;
    --neutral-300: #939393;
    --neutral-400: #B7B7B7;
    --neutral-500: #DCDCDC;
    --neutral-600: #E2E2E2;
    --neutral-700: #E8E8E8;
    --neutral-800: #EDEDED;
    --neutral-900: #F3F3F3;
  }
} */